amqp==1.4.9
anyjson==0.3.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
decorator==4.0.11
enum-compat==0.0.2
eventlet==0.21.0
flasgger==0.6.4
Flask==0.12.2
greenlet==0.4.12
idna==2.5
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
kombu==3.0.37
MarkupSafe==1.0
mistune==0.7.4
mock==2.0.0
nameko==2.6.0
path.py==10.3.1
pbr==3.0.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
python-http-client==2.2.1
PyYAML==5.4
requests==2.17.3
sendgrid==4.2.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
urllib3==1.21.1
wcwidth==0.1.7
Werkzeug==0.12.2
wrapt==1.10.10
yagmail==0.7.165
